<style>
@font-face { 
	font-family: 'Arial';
	src: url('Arial.ttf') format('truetype');
}
@font-face { 
	font-family: 'Arial Black';
	src: url('ArialBlack.ttf') format('truetype');
}
@font-face { 
	font-family: 'Comic Sans MS';
	src: url('ComicSansMS.ttf') format('truetype');
}
@font-face { font-family: 'Courier New';
	src: url('CourierNew.ttf') format('truetype');
}
@font-face { font-family: 'Helvetica';
	src: url('Helvetica.ttf') format('truetype');
}
@font-face { 
	font-family: 'Impact';
	src: url('Impact.ttf') format('truetype');
}
@font-face { 
	font-family: 'Tahoma'; 
	src: url('Tahoma.ttf') format('truetype');
}
@font-face { 
	font-family: 'Times New Roman';
	src: url('TimesNewRoman.ttf') format('truetype');
}
@font-face { 
	font-family: 'Verdana'; 
	src: url('Verdana.ttf') format('truetype');
}
</style>
